Repository epam/ketcher, pull requests merged in 2025-09, with the labels that each got.

#7564 #7509: added offset calculation when saving
  ketcher-autotests/tests/specs/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-6-When-saving-in-SVG-format-unsplit-nuc-ec2f7-veral-rows-are-left-without-part-of-the-name-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-6-When-saving-in-SVG-format-unsplit-nuc-ec2f7-veral-rows-are-left-without-part-of-the-name-1-chromium-popup-linux.png
  packages/ketcher-core/__tests__/application/editor/utilities/getSvgFromDrawnStructures.test.tsx
  packages/ketcher-core/src/utilities/getSvgFromDrawnStructures.tsx
  packages/ketcher-macromolecules/src/components/modal/save/Save.tsx
Labels: Export to SVG/PNG, Popup Ketcher

#7682 #7443 - Save to SDF button is missed on Salts and Solvents tab in Structure Library dialog
  ketcher-autotests/tests/specs/Templates/Custom-Templates/custom-templates.spec.ts-snapshots/Open-Ketcher-Custom-Templates---Window-UI-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Custom-Templates/custom-templates.spec.ts-snapshots/Open-Ketcher-When-switching-between-tabs-the-focus-is-active-1-chromium-linux.png
  packages/ketcher-react/src/script/ui/dialog/template/TemplateDialog.tsx
Labels: Fixed by ChatGPT5

#7907 Autotests: #7894 - autotests tests for reaction data support in ket format
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-1-Ve-df1ba-teps-array-with-correct-reactants-and-product-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-1-Ve-fb30b-teps-array-with-correct-reactants-and-product-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-2-Ve-0c1a7-id-transitions-between-reactants-and-products-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-2-Ve-2e9c1-id-transitions-between-reactants-and-products-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-3-Ve-49744-ecules-and-blocks-in-the-same-reactants-array-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-3-Ve-9a665-ecules-and-blocks-in-the-same-reactants-array-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-4-Ve-0c465-xist-either-in-blocks-or-as-defined-molecules-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-4-Ve-a1b4b-xist-either-in-blocks-or-as-defined-molecules-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-4-Ve-a560d-xist-either-in-blocks-or-as-defined-molecules-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-4-Ve-ddc3a-xist-either-in-blocks-or-as-defined-molecules-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-4-Ve-fd78c-xist-either-in-blocks-or-as-defined-molecules-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-4-Ve-fda3a-xist-either-in-blocks-or-as-defined-molecules-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-5-Ve-163ef--that-they-are-interpreted-correctly-in-steps-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-5-Ve-195d0--that-they-are-interpreted-correctly-in-steps-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-5-Ve-4e4e7--that-they-are-interpreted-correctly-in-steps-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-5-Ve-5e88c--that-they-are-interpreted-correctly-in-steps-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-5-Ve-895d5--that-they-are-interpreted-correctly-in-steps-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-5-Ve-c69b6--that-they-are-interpreted-correctly-in-steps-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-6-Ve-13b5a--as-RDF-V3000-and-then-reopened-successfully-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-6-Ve-4d58b--as-RDF-V3000-and-then-reopened-successfully-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-6-Ve-649a7--as-RDF-V3000-and-then-reopened-successfully-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-6-Ve-9f6a3--as-RDF-V3000-and-then-reopened-successfully-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-6-Ve-da4a0--as-RDF-V3000-and-then-reopened-successfully-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/reaction-data-support-in-ket.spec.ts-snapshots/Reaction-data-support-in-KET-format-Case-6-Ve-deec7--as-RDF-V3000-and-then-reopened-successfully-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/KET/first-reaction-example-expected.ket
  ketcher-autotests/tests/test-data/KET/first-reaction-example.ket
  ketcher-autotests/tests/test-data/KET/first-reaction-exampleID-expected.ket
  ketcher-autotests/tests/test-data/KET/reaction-with-blocks-and-molecules-expected.ket
  ketcher-autotests/tests/test-data/KET/reaction-with-blocks-and-molecules.ket
  ketcher-autotests/tests/test-data/KET/second-multistep-with-blocks-and-molecules-expected.ket
  ketcher-autotests/tests/test-data/KET/second-multistep-with-blocks-and-molecules.ket
  ketcher-autotests/tests/test-data/KET/second-testing-structure-expected.ket
  ketcher-autotests/tests/test-data/KET/second-testing-structure.ket
  ketcher-autotests/tests/test-data/KET/second-testing-structureID-expected.ket
  ketcher-autotests/tests/test-data/KET/third-multistep-with-blocks-and-molecules-expected.ket
  ketcher-autotests/tests/test-data/KET/third-multistep-with-blocks-and-molecules.ket
  ketcher-autotests/tests/test-data/KET/third-test-structure-expected.ket
  ketcher-autotests/tests/test-data/KET/third-test-structure.ket
  ketcher-autotests/tests/test-data/KET/third-test-structureID-expected.ket
  ketcher-autotests/tests/test-data/RDF-V3000/reaction-with-blocks-and-molecules-expected.rdf
  ketcher-autotests/tests/test-data/RDF-V3000/second-multistep-with-blocks-and-molecules-expected.rdf
  ketcher-autotests/tests/test-data/RDF-V3000/third-multistep-with-blocks-and-molecules-expected.rdf
Labels: Autotests

#7943 Autotests: #7472 - autotests transform isolated test execution to clear canvas test execution for import-saving-fasta.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-fasta.spec.ts
Labels: Autotests
